@import './tailwind.css';

@reference 'tailwindcss';

@theme {
  --ease-md-standard: cubic-bezier(.2, 0, 0, 1);
  --ease-md-decelerate: cubic-bezier(0, 0, 0, 1);
  --ease-md-accelerate: cubic-bezier(.3, 0, 1, 1);
  --color-md-scrim: rgba(0, 0, 0, .32);
  --shadow-md-level-1: rgba(0, 0, 0, .2) 0 2px 1px -1px, rgba(0, 0, 0, .14) 0 1px 1px 0, rgba(0, 0, 0, .12) 0 1px 3px 0;
  --shadow-md-level-2: rgba(0, 0, 0, .2) 0 3px 3px -2px, rgba(0, 0, 0, .14) 0 3px 4px 0, rgba(0, 0, 0, .12) 0 1px 8px 0;
  --shadow-md-level-3: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  --shadow-md-level-4: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  --shadow-md-level-5: rgba(0, 0, 0, .2) 0 7px 8px -4px, rgba(0, 0, 0, .14) 0 12px 17px 2px, rgba(0, 0, 0, .12) 0 5px 22px 4px;
}

page {
  --md-color-background: #f6f9fe;
  --md-color-error: #ba1a1a;
  --md-color-error-container: #ffdad6;
  --md-color-inverse-on-surface: #eef1f6;
  --md-color-inverse-primary: #94cdf7;
  --md-color-inverse-surface: #2d3135;
  --md-color-on-background: #181c20;
  --md-color-on-error: #fff;
  --md-color-on-error-container: #93000a;
  --md-color-on-primary: #fff;
  --md-color-on-primary-container: #004c6e;
  --md-color-on-primary-fixed: #001e2f;
  --md-color-on-primary-fixed-variant: #004c6e;
  --md-color-on-secondary: #fff;
  --md-color-on-secondary-container: #384956;
  --md-color-on-secondary-fixed: #0b1d29;
  --md-color-on-secondary-fixed-variant: #384956;
  --md-color-on-surface: #181c20;
  --md-color-on-surface-variant: #41474d;
  --md-color-on-tertiary: #fff;
  --md-color-on-tertiary-container: #4c4163;
  --md-color-on-tertiary-fixed: #1f1635;
  --md-color-on-tertiary-fixed-variant: #4c4163;
  --md-color-outline: #71787e;
  --md-color-outline-variant: #c1c7ce;
  --md-color-primary: #256489;
  --md-color-primary-container: #c9e6ff;
  --md-color-primary-fixed: #c9e6ff;
  --md-color-primary-fixed-dim: #94cdf7;
  --md-color-scrim: #000;
  --md-color-secondary: #4f606e;
  --md-color-secondary-container: #d3e5f5;
  --md-color-secondary-fixed: #d3e5f5;
  --md-color-secondary-fixed-dim: #b7c9d9;
  --md-color-shadow: #000;
  --md-color-surface: #f6f9fe;
  --md-color-surface-bright: #f6f9fe;
  --md-color-surface-container: #ebeef3;
  --md-color-surface-container-high: #e5e8ed;
  --md-color-surface-container-highest: #dfe3e8;
  --md-color-surface-container-low: #f1f4f9;
  --md-color-surface-container-lowest: #fff;
  --md-color-surface-dim: #d7dadf;
  --md-color-surface-tint: #256489;
  --md-color-surface-variant: #dde3ea;
  --md-color-tertiary: #64597c;
  --md-color-tertiary-container: #eaddff;
  --md-color-tertiary-fixed: #eaddff;
  --md-color-tertiary-fixed-dim: #cec0e8;
}

@media (prefers-color-scheme: dark) {
  page {
    --md-color-background: #101417;
    --md-color-error: #ffb4ab;
    --md-color-error-container: #93000a;
    --md-color-inverse-on-surface: #2d3135;
    --md-color-inverse-primary: #256489;
    --md-color-inverse-surface: #dfe3e8;
    --md-color-on-background: #dfe3e8;
    --md-color-on-error: #690005;
    --md-color-on-error-container: #ffdad6;
    --md-color-on-primary: #00344d;
    --md-color-on-primary-container: #c9e6ff;
    --md-color-on-primary-fixed: #001e2f;
    --md-color-on-primary-fixed-variant: #004c6e;
    --md-color-on-secondary: #21323f;
    --md-color-on-secondary-container: #d3e5f5;
    --md-color-on-secondary-fixed: #0b1d29;
    --md-color-on-secondary-fixed-variant: #384956;
    --md-color-on-surface: #dfe3e8;
    --md-color-on-surface-variant: #c1c7ce;
    --md-color-on-tertiary: #352b4b;
    --md-color-on-tertiary-container: #eaddff;
    --md-color-on-tertiary-fixed: #1f1635;
    --md-color-on-tertiary-fixed-variant: #4c4163;
    --md-color-outline: #8b9198;
    --md-color-outline-variant: #41474d;
    --md-color-primary: #94cdf7;
    --md-color-primary-container: #004c6e;
    --md-color-primary-fixed: #c9e6ff;
    --md-color-primary-fixed-dim: #94cdf7;
    --md-color-scrim: #000;
    --md-color-secondary: #b7c9d9;
    --md-color-secondary-container: #384956;
    --md-color-secondary-fixed: #d3e5f5;
    --md-color-secondary-fixed-dim: #b7c9d9;
    --md-color-shadow: #000;
    --md-color-surface: #101417;
    --md-color-surface-bright: #353a3e;
    --md-color-surface-container: #1c2024;
    --md-color-surface-container-high: #262a2e;
    --md-color-surface-container-highest: #313539;
    --md-color-surface-container-low: #181c20;
    --md-color-surface-container-lowest: #0a0f12;
    --md-color-surface-dim: #101417;
    --md-color-surface-tint: #94cdf7;
    --md-color-surface-variant: #41474d;
    --md-color-tertiary: #cec0e8;
    --md-color-tertiary-container: #4c4163;
    --md-color-tertiary-fixed: #eaddff;
    --md-color-tertiary-fixed-dim: #cec0e8;
  }
}

page,
view,
scroll-view,
swiper,
swiper-item,
movable-area,
movable-view,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox-group,
checkbox,
form,
input,
label,
picker,
picker-view,
radio-group,
radio,
slider,
switch,
textarea,
navigator,
functional-page-navigator,
image,
video,
camera,
live-player,
live-pusher,
map,
canvas,
open-data,
web-view,
ad {
  box-sizing: border-box;
}

page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 1rem;
  line-height: 1.25em;
  background-color: var(--md-color-surface);
  color: var(--md-color-on-surface);
  overflow-y: hidden;
  --mp-page-max-width: 430px;
  font-family: 'Roboto', 'Noto Sans SC', 'Microsoft YaHei', '微软雅黑', sans-serif;

  .light {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}

image {
  height: 0;
}

.mp-page {
  position: relative;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;

  .content {
    flex-grow: 1;
    overflow-y: auto;

    &.rounded {
      border-radius: 16px 16px 0 0;
    }
  }
}

.mp-body {
  margin: 0 auto;
  width: 100%;
  max-width: var(--mp-page-max-width);
}

.pure-btn {
  all: unset;
  width: auto;

  &::after {
    all: unset;
    width: auto;
  }
}

.text-elli {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex.center {
  @apply justify-center items-center;
}

.sheet {
  border-radius: 12px;
  background-color: #fff;

  .sheet-title {
    font-weight: bold;
    color: #222;
  }
}

.page-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;

  .screen-width {
    margin: 0 auto;
    width: 100%;
    max-width: var(--mp-page-max-width);
    height: 100%;
  }

  .modal-container {
    border-radius: 12px;
    background-color: #fff;

    .text-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.area-bg {
  --test-area-bg-color: #f0ad4e;
  background-image: repeating-linear-gradient(315deg, var(--test-area-bg-color) 0 1px, #0000 0 50%);
  background-size: 8px 8px;
  background-attachment: scroll;
}
